@inherits LayoutComponentBase

<div>
    <NavLink href="" Match="NavLinkMatch.All">Home</NavLink>
    <NavLink href="example">Example</NavLink>
    <NavLink href="counter">Counter</NavLink>
    <NavLink href="streaming">Streaming</NavLink>
    <NavLink href="form-submit">Form submission</NavLink>
</div>

@Body
