@page "/example"

<PageTitle>Example</PageTitle>

<h1>Example</h1>

<p>
    This page shows that Razor Class Libaries can also take advantage of JS components.
</p>

<ComponentFromClassLibrary @rendermode="InteractiveServer" />
