@page "/"
@attribute [DiscoverCollocatedJS]

<PageTitle>Home</PageTitle>

<h1>Home</h1>

<p>
    This page demonstrates how the 'JS' component can both import simple scripts and pass complex arguments to JS components.
</p>

<JS Src="./hello-world.js" />
<JS For="this" Args="[s_renderId, true, _complexObject]" />

@code {
    private static int s_renderId = 0;

    protected override void OnInitialized()
    {
        s_renderId++;
    }

    private readonly MyComplexType _complexObject = new() { Value = "world" };

    private class MyComplexType
    {
        public string? Value { get; set; }
    }
}
